---
layout: default
title: Careers
section_id: about us

testimonials:
  - quote: I have an opportunity to make an impact on thousands of students scattered in several countries. It’s a responsibility that I take seriously.
    author: Saymore, Educational Technologist
  - quote: I am enthusiastic about education because it is a tranformative and empowering process. Education improves societies. I am also keenly tuned in to maths, which is unique in its pristine elegance and provides numerous surprises.
    author: Eric, Educational Technologist
  - quote: I love the fact that the work I do is in some small way contributing to improving society. I believe change has a ripple effect.
    author: Hannelie, School Accounts Manager
  - quote: I am fascinated and enthralled by the experience and possibilities at which maths, science, art, design and curiosity collide.
    author: Megan, Instructional Designer
  - quote: I enjoy tackling large and seemingly unsolvable problems and learning a lot in the process of solving the problem. 
    author: Heather, Technical Editor    
  - quote: I'm dead passionate about striking a balance between purely academic knowledge, practical experience as well as creative endeavours.
    author: Ewald, Senior Developer  
  - quote: Chemistry opens up a whole other way of seeing things, a different way of understanding the world around us. That fascinates me, and I'd like to pass on this interest in understanding the world we live in.
    author: Kate, Educational Technologist
  - quote: I think what I like most about Siyavula is the deep sense of personal fulfillment that I get from working with a technological product that assists young learners. 
    author: Rebecca, School Accounts Manager
  - quote: I am fascinated by how we (as individuals and groups) think, learn, create and communicate.
    author: Nicky, Product Manager
  - quote: My passion is to get things done.
    author: Thembile, Accounting Officer
  - quote: I am passionate about assisting the youth from disadvantaged backgrounds reach highest standards in education in spite of what they lack in resources.
    author: Nandi, School Liaison
  - quote: Teaching others so that they can harness the power that physics knowledge grants as well as appreciate the intrinsic beauty of the subject is one of my greatest passions.
    author: Adam, Educational Technologist
  - quote: I love being surrounded by people who challenge and push me to better myself. Working as part of the Siyavula team definitely has this covered!
    author: Cynthia, Office Manager
  - quote: As someone who is not originally from South Africa, I am passionate about making a positive impact in this country, which has been so good to me.
    author: Gina, Project Manager
  - quote: I care deeply about helping people reach their full potential and think that education is a tool for true empowerment. I love astronomy.
    author: Kosma, Educational Technologist
  - quote: I believe that science is really about learning how to ask and answer questions about the surprising, fascinating world in which we live.
    author: Melanie, Educational Technologist
  - quote: I am passionate about the way education can shape and change someone behavior and approach to life. That moment a student realises he/she has applied something they thought impossible to grasp at first. 
    author: Nadia, Educational Technologist
  - quote: I really love that energy that comes from a group of us collectively finding a better way to do things more effectively. I also love solving problems.
    author: Richard, Senior Developer
  - quote: I really enjoy working with teachers to understand their individual and very, very unique situations. 
    author: Will, Sales Manager
---

<div class='parallax-pin-top' style='background-image: url(/images/sliders/chairs.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About us" color="#fff" tagline="Join us in our mission" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class="mod modSectionHeader ">
  <div class="special-title centered-text">
    <h2 style="color: ;">Careers</h2>
  </div>
  
</div>
      <div class='spacing'></div>
        <h3>We’re always on the lookout for exceptional people.</h3> 
        <p>If you think you have what it takes, send your CV and a cover letter detailing why you think you’re up for the challenge to <a href=mailto:"mark@siyavula.com">mark@siyavula.com</a>.</p>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns middle'>

        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar fadeinleft" alt="" src="/images/avatars/future-siyavula-geeks.gif" />
            <div class='overlay'>
              <div class='intro'>
                <h3>Could this be you?</h3>
                <p>Apply to be a part of our team.</p>

              </div>
            </div>
          </div>
        </div>

      <div class='three spacing'></div>
    </div>
    <div class='medium-8 columns'>
        <h4>Vacant positions you can apply for now:</h4>
        <p class='italic'> All positions are based at our office in Cape Town unless otherwise specified. </p>
        <div class='fadein mod modIconText' data-delay='0'>
          <div class='icon-text-simple'>
            <i class='fa fa-code'></i>
            <h3><a href="#FED">Front-end Developer</a></h3>
            <p>Want to help us build interfaces that will not only excite teachers and learners the world over, but actually fascilitate a great learning experience too? If you like learning, hardwork, slick design and can make them come together, get in touch.</p>
          </div>
          <div class='two spacing'></div>
        </div>
      
        <div class='fadein mod modIconText' data-delay='300'>
          <div class='icon-text-simple'>
            <i class='fa fa-code'></i>
            <h3><a href="#BED">Back-end Developer</a></h3>
            <p>Interested in joining our team in building a robust, scalable software service to help Maths and Science education around the world?  If you've got the drive and the skills, let us know.</p>
          </div>
          <div class='two spacing'></div>
        </div>
      
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class='full-pin-right' style='background-image: url(/images/sliders/network-grey-right.png);'>
  <div class="row">
    <div class="large-12 columns">
      <h3>Working at Siyavula</h3>
      <p>We’re looking for people that are enthusiastic about challenging problems and making a real impact in the world.  Join us as we continue to build out world-class Intelligent Practice, our machine-learning driven, adaptive practice service.</p>
      <p>We firmly believe fixing education, both in South Africa and further afield, is instrumental to bringing about real change.  To that end, we aim to find ways for machines to do what machines do best with the hope of enabling people to, in turn, do their best.</p>
      <p>Our dynamic and highly driven team work out of offices in the centre of incredible Cape Town, South Africa.  We work hard and thrive off finding out what other companies in the technology and education sectors are doing and making sure our innovations keep us at the forefront.</p>
      <p>We’re proud geeks and no, that does not mean we all have backgrounds in the hard-core Sciences!   We get a kick out of working with each other, leveraging our powerful pool of diverse skills to collaboratively make a difference to education.  We hold ourselves and each other to a very high standard of work.  We appreciate people who are good at coming alongside and working together on a project, but are also capable of managing their own efforts, getting on a with the job at hand and delivering a high-quality product, every time.</p>
      <p>As part of our team, you’d get to work on a wide variety of projects, so there’s always lots to learn and plenty of opportunity to really get stuck in.</p>
      <p>Sound like your kind of work environment? We may need you.</p>
    <div class='spacing'></div>
   </div>
  </div>
</div>
<div id="FED"></div>
<div class="full">
  <div class="row">
    <div class="large-12 columns">
      <h3>Front-end Developer</h3>
      <h4>Role and Responsibilities</h4>
      <p>In the context of our online educational offerings, you would be expected to:
        <ul>
          <li>help the team in designing and developing new features, including 
          but not restricted to interactive visualisations, simulations, 
          client-side book and exercise renderers and dashboards;</li>
          <li>implementing the necessary HTML, CSS and JS to make new features work across browsers and platforms; and</li>
          <li>ensuring features and elements work well and load fast.</li>
        </ul>
      </p>
      <h4>The kind of work you could be part of</h4>
      <ul>
        <li>redesigning our learner experience, both for responsive and feature-phone friendly interfaces;</li>
        <li>developing new interfaces for educator dashboards, assignment setting and reporting;</li>
        <li>analysing the data collected to provide better feedback to learners and teachers;</li>
        <li>aggregating and visualising data to inform policy-makers and curriculum-design; and</li>
        <li>visualisation of concept maps to inform teaching practice.</li>
      </ul>
      <h4>Requirements</h4>
      <p>If you’re the candidate we’re looking for you have a keen self-awareness and ability to determine opportunities for your own growth; enthusiasm for working in a team; and passion regarding your own continued learning.  Most of all, you should want to make a difference to education in South Africa and around the world.</p>
      <p>To fill this role you should also ideally have past experience that includes:</p>
      <ul>
        <li>using openly-licensed software and libraries, git and GitHub;</li>
        <li>interpreting graphic, visual or interaction designs in HTML, CSS and JS;</li>
        <li>creating effective web pages or interfaces;</li>
        <li>creating, editing or modifying templates for a CMS or web development framework;</li>
        <li>experience using a framework for interactions like JQuery, YUI or Prototype;</li>
        <li>testing cross-browser, cross-platform, and/or cross-device compatibility for inconsistencies; and </li>
        <li>testing for compliance to web standards.</li>
      </ul>
      <p>Experience developing visualisations using a framework like D3 or simulations in HTML5/CSS3/JS would be extremely advantageous.</p>

      <p>You should be familiar with the technology stack we use (or keen to learn and quick to upskill) and have at least 4 years experience under your belt.</p>
 <div id="BED"></div>

      <h4>Salary</h4>
      <p>In line with experience and market related.</p>

      <hr>

      <h3>Back-end Developer</h3>
      <h4>Role and Responsibilities</h4>
      <p>In the context of our online educational offerings, you would be expected to:
        <ul>
          <li>work with the team to design and develop offerings;
          </li>
          <li>extend and develop SaaS applications that optimise the learning experience for individual and school learners;
          </li>
          <li>develop applications for reporting, monitoring and evaluation of applications and their impact; and
          </li>
          <li>build tools and applications for data analysis.
          </li>
      </ul>
      </p>
      <h4>The kind of work you could be part of</h4>
        <ul>
            <li>deploying, managing and synchronising a fleet of servers to be 
            placed at schools with very poor connectivity (some virtual and some 
            physical);</li>
            <li>scaling to 100 000s of active users;</li>
            <li>developing an API to allow integration into other platforms;</li>
        </ul>
      <h4>Requirements</h4>
      <p>If you’re the candidate we’re looking for you have a keen self-awareness and ability to determine opportunities for your own growth; enthusiasm for working in a team; and passion regarding your own continued learning.  Most of all, you should want to make a difference to education in South Africa and around the world.</p>
      <p>To fill this role you should also ideally have past experience that includes:</p>
      <ul>
        <li>custom web application development;
        </li>
        <li>development with at least one CMS framework or web application framework;</li>
        <li>employing a framework or extendeding an existing CMS with custom coding;</li>
        <li>a working knowledge of security practices;
        </li>
        <li>an understanding of the underlying systems on which web applications are developed; and
        </li>
        <li>an understanding of and experience applying key server-side web development concepts such as:
          <ul>
            <li>integrating data or user accounts between multiple systems for a client;</li>
            <li>integrating multiple databases and/or database types into one system;
            </li>
            <li>scaling an application and/or its hosting environment to support increases in traffic;
            </li>
            <li>using a version control system;
            </li>
            <li>implementing or working with content approval and staging workflows;
            </li>
            <li>migrating data, scripting migration of data;
            </li>
            <li>implementing or working with a template driven system with a clear separation between content and display;
            </li>
            <li>outputting data in multiple formats;
            </li>
            <li>experience on a web application that uses XML HTTP Request and JS;
            </li>
            <li>working with multiple delivery platforms such as mobile versus desktop;
            </li>
            <li>creating multilingual websites or applications;
            </li>
            <li>creating and implementing database schemas that represent and support business processes; and
            </li>
            <li>ensuring the quality of applications through testing frameworks.
            </li>
          </ul>
        </li>
      </ul>
      <p>Experience developing with Python as a language and Pyramid as a framework would be extremely advantageous.</p>
      <p>You should be familiar with the technology stack we use (or keen to learn and quick to upskill) and have at least 4 years experience under your belt.</p>
      <h4>Salary</h4>
      <p>In line with experience and market related.</p>
      <div class='spacing'></div>
    </div>
  </div>
</div>

  
<div class='full parallax' style='background-image: url(/images/sliders/dishing-up.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #018cb6; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What are we passionate about?" color="#fff" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>



