---
layout: default
title: Our Story
section_id: about us
---

<div class='non-parallax' style='background-image: url(/images/sliders/passage.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About us" color="#fff" tagline="The evolution of our company" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
 <div class="row">
              <div class='large-12 columns'>
      {% include section-header.html title="Our history" %}
      <div class='spacing'></div>
           <div class='two spacing'></div>
    </div>
 </div> 
   
 
<div class='full no-padding' style='background: #fff'>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/images/history/logo-fhsst.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>2002</h3>
                                    <h3 class="subheading">Knowledge should be freely accessible</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Free High School Science Texts project begins publishing Open Educational Resources (OER) as a group of students get together with the conviction that they need to share their knowledge, for free. With the collective power of volunteer collaboration, the project produces open textbooks for Gr 10-12 Mathematics, Physics and Chemistry, allowing teachers and learners to print or share them digitally.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/images/history/siyavula-old.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>2007</h3>
                                    <h3 class="subheading">A project with an open mission</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Off the back of the FHSST work, Siyavula is born as a fellowship project within the Shuttleworth Foundation, with the aim of making openly licensed content available for all grades and subjects within South Africa. The government prints and distributes millions of the open textbooks to all learners in the country. Siyavula goes on to produce additional open content in Gr 4-9 and refines the collaborative authoring process, volunteer contribution and unique content production pipelines.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/images/history/siyavula-new.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>2012</h3>
                                    <h3 class="subheading">Transition to a technology company</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With help from the Shuttleworth Foundation and PSG Group Limited, Siyavula Education is spun out as a company in pursuit of long term sustainability and stability. The focus is on building an integrated learning experience, drawing on the benefits of open content and adaptive practice for mastery in Maths and Science.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/images/history/globe.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>2014</h3>
                                    <h3 class="subheading">Further expansion and reach</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With an investment from the Silicon Valley-based group, Siyavula becomes part of the Omidyar Network. The company turns its attention to expanding into international markets bringing Intelligent Practice to the world.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                               <a href="/about-careers.html"><h4>Join us
                                    <br>in our
                                    <br>mission!</h4> </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
</div>

<div class='full no-padding' style='background: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Find out about the people and investors who drive, build and enable what we do.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='/about.html'>Meet our team</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>








