---
layout: default
title: About us
section_id: about us

testimonials:
  - quote: I have an opportunity to make an impact on thousands of students scattered in several countries. It’s a responsibility that I take seriously.
    author: Saymore, Educational Technologist
  - quote: I am enthusiastic about education because it is a tranformative and empowering process. Education improves societies. I am also keenly tuned in to maths, which is unique in its pristine elegance and provides numerous surprises.
    author: Eric, Educational Technologist
  - quote: I love the fact that the work I do is in some small way contributing to improving society. I believe change has a ripple effect.
    author: Hannelie, School Accounts Manager
  - quote: I am fascinated and enthralled by the experience and possibilities at which maths, science, art, design and curiosity collide.
    author: Megan, Instructional Designer
  - quote: I enjoy tackling large and seemingly unsolvable problems and learning a lot in the process of solving the problem.
    author: Heather, Technical Editor
  - quote: I'm dead passionate about striking a balance between purely academic knowledge, practical experience as well as creative endeavours.
    author: Ewald, Senior Developer
  - quote: Chemistry opens up a whole other way of seeing things, a different way of understanding the world around us. That fascinates me, and I'd like to pass on this interest in understanding the world we live in.
    author: Kate, Educational Technologist
  - quote: I think what I like most about Siyavula is the deep sense of personal fulfillment that I get from working with a technological product that assists young learners.
    author: Rebecca, School Accounts Manager
  - quote: I am fascinated by how we (as individuals and groups) think, learn, create and communicate.
    author: Nicky, Product Manager
  - quote: My passion is to get things done.
    author: Thembile, Accounting Officer
  - quote: I am passionate about assisting the youth from disadvantaged backgrounds reach highest standards in education in spite of what they lack in resources.
    author: Nandi, Schools Liaison
  - quote: Teaching others so that they can harness the power that physics knowledge grants as well as appreciate the intrinsic beauty of the subject is one of my greatest passions.
    author: Adam, Educational Technologist
  - quote: I love being surrounded by people who challenge and push me to better myself. Working as part of the Siyavula team definitely has this covered!
    author: Cynthia, Office Manager
  - quote: As someone who is not originally from South Africa, I am passionate about making a positive impact in this country, which has been so good to me.
    author: Gina, Project Manager
  - quote: I care deeply about helping people reach their full potential and think that education is a tool for true empowerment. I love astronomy.
    author: Kosma, Educational Technologist
  - quote: I believe that science is really about learning how to ask and answer questions about the surprising, fascinating world in which we live.
    author: Melanie, Educational Technologist
  - quote: I am passionate about the way education can shape and change someone behavior and approach to life. That moment a student realises he/she has applied something they thought impossible to grasp at first.
    author: Nadia, Educational Technologist
  - quote: I really love that energy that comes from a group of us collectively finding a better way to do things more effectively. I also love solving problems.
    author: Richard, Senior Developer
  - quote: I really enjoy working with teachers to understand their individual and very, very unique situations.
    author: Will, Sales Manager
---


<div class='parallax-pin-top' style='background-image: url(images/sliders/chairs.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About us" color="#fff" tagline="Join us in our mission" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class="mod modSectionHeader">
        <div class="special-title centered-text">
          <h2 style="color: ;">Careers</h2>
        </div>
      </div>
      <div class='spacing'></div>
      <h3>We’re always on the lookout for exceptional people.</h3>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns middle'>
      <div class='mod modTeamMember'>
        <div class='member'>
          <img class="avatar fadeinleft" alt="" src="images/avatars/future-siyavula-geeks.gif" />
          <div class='overlay'>
            <div class='intro'>
              <h3>Could this be you?</h3>
              <p>Apply to be a part of our team.</p>
            </div>
          </div>
        </div>
      </div>
      <div class='three spacing'></div>
    </div>
    <div class='medium-8 columns'>
      <div id="BambooHR">
        <script src="https://siyavula.bamboohr.com/js/jobs2.php" type="text/javascript"></script>
        <div id="BambooHR-Footer">Powered by
          <a href="http://www.bamboohr.com" target="_blank" rel="external nofollow"><img src="https://resources.bamboohr.com/images/footer-logo.png" alt="BambooHR - HR software"/></a>
        </div>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class='full-pin-right' style='background-image: url(images/sliders/network-grey-right.png);'>
  <div class="row">
    <div class="large-12 columns">
      <h3>What we’re like to work with</h3>
      <p>At Siyavula, we’re seriously passionate about improving maths and science education and we've got a unique product worth throwing our weight behind.  We're set to expand our reach, taking our online learning platform not just further into South Africa, but also out to the rest of the world.</p>
      <p>Our highly-driven team work out of offices in the Cape Town and we are interested in people who are good at coming alongside and working together on a project, but are also capable of managing their own efforts, getting on with the job at hand and delivering a high-quality service, every time.</p>
      <p>We’re still a bit of a start-up and start-up culture permeates a lot of what we do. We work with a relatively-flat organisational structure, enjoy flexible working hours and our shutdown over Christmas doesn’t come out of your leave! We also offer 2 personal admin days off a year and you get a day off for your birthday.</p>
      <p>We’re working hard to make a big difference and to enjoying the ride. If this sounds appealing to you, get in touch.</p>
    <div class='spacing'></div>
   </div>
  </div>
</div>

<div class='full parallax' style='background-image: url(images/sliders/dishing-up.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #018cb6; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What are we passionate about?" color="#fff" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>
