---
layout: default
title: Our story
section_id: about us
---

<div class='non-parallax' style='background-image: url(images/sliders/passage.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About us" color="#fff" tagline="Our evolution" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
 <div class="row">
              <div class='large-12 columns'>
      {% include section-header.html title="Our story" %}
      <div class='spacing'></div>
           <div class='two spacing'></div>
    </div>
 </div> 
   
 
<div class='full no-padding' style='background: #fff'>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/history/logo-fhsst.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>2002</h3>
                                    <h3 class="subheading">Knowledge should be freely accessible</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Free High School Science Texts project begins publishing Open Educational Resources (OER) as a group of students get together with the conviction that they need to share their knowledge, for free. With the collective power of volunteer collaboration, the project produces open textbooks for Gr 10-12 Mathematics, Physics and Chemistry, allowing teachers and learners to print or share them digitally.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/history/siyavula-old.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>2007</h3>
                                    <h3 class="subheading">A project with an open mission</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Off the back of the FHSST work, Siyavula is born as a fellowship project within the Shuttleworth Foundation, with the aim of making openly licensed content available for all grades and subjects within South Africa. The government prints and distributes millions of the open textbooks to all learners in the country. Siyavula goes on to produce additional open content in Gr 4-9 and refines the collaborative authoring process, volunteer contribution and unique content production pipelines.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/history/siyavula-new.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>2012</h3>
                                    <h3 class="subheading">Transition to a technology company</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With help from the Shuttleworth Foundation and PSG Group Limited, Siyavula Education is spun out as a company in pursuit of long term sustainability and stability. The focus is on building an integrated learning experience, drawing on the benefits of open content and adaptive practice for mastery in Maths and Science.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/history/people-globe-HighRes.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>2013 - 2016 </h3>
                                    <h3 class="subheading">Siyavula as a social enterprise</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Siyavula continued to improve and extend its adaptive practice software, with feedback from around 100 paying private school customers in South Africa. The company also worked with local grant funders such as the Sasol Foundation to develop further free and open textbooks for Grades 4 - 9. With the increased traffic to the open online textbooks by students from low and no-fee public schools on their mobile phones, Siyavula began collaborating with local foundations to provide students with free access to the online practice software. In 2014, with an investment from the Silicon Valley-based group, Siyavula became part of the Omidyar Network (now Imaginable Futures), enabling the company to expand its offering, and opening up opportunities for international funders and partners.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/images/SF-logo_stacked-HighRes-Circle.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>2017</h3>
                                    <h3 class="subheading">The Siyavula Foundation</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Siyavula Foundation was formed in response to an increase in the demand from low and no-income schools for access to Siyavula’s practice software, and interest from international grant funders. Siyavula Education and the Siyavula Foundation formed a strategic partnership to jointly seek to make both the software practice and open online textbooks freely available to students across Africa. 

Google.org was the first funder to support the newly formed Siyavula Foundation, funding the alignment and localisation of the software for the Nigerian curriculum. 

Siyavula Education initiated a grant-funded project with the Michael & Susan Dell Foundation, aimed at tailoring the solution to low-end public schools and provincial reporting, while migrating grant-funded projects to the Siyavula Foundation.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/history/africa-HighRes.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>2019-2020</h3>
                                    <h3 class="subheading">Iterating on a sustainability model for Africa</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Siyavula Foundation and Siyavula Education continued to test and refine a model that combined grant funding, customer revenue, corporate partners, and government procurement. 

In 2019, a partnership with MTN meant that we were able to offer free access to the practice platform for all Grade 10 - 12 Mathematics students in South Africa. During this time, use of the online textbooks grew to more than 1,8 million students a year, with more than 18 million questions delivered and marked on the practice platform, to more than 350 000 users. 

A partnership with the Mastercard Foundation in 2020 gave us the opportunity to launch a localised, curriculum-aligned free practice service to Rwandan S1 - S4 students, as a COVID-response initiative. More than one million questions were completed by Rwandan students within the first year.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/history/rocket-HighRes.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>2021</h3>
                                    <h3 class="subheading">Connecting online mastery to out-of-school opportunities</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In collaboration with Unicef in South Africa, the Siyavula Foundation is currently developing a Mathematics skills certificate, and building a pipeline for students to connect with opportunities for further studies, internships, bursaries and employment. The partnership has also enabled Siyavula to open its practice service freely to Grade 8 - 9 Mathematics, and Grade 10 - 12 Physical Sciences students. 

The partnership with MTN has also resulted in the launch of a free African daily Mathematics question service on the Ayoba chat platform. More than 100 000 subscribers across seven territories are currently receiving daily Mathematics questions from Siyavula, via Ayoba.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/history/beyond-africa-HighRes.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>2022</h3>
                                    <h3 class="subheading">Extending the model to more African countries</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Siyavula Foundation model, which combines access to a set of open online textbooks and its adaptive practice software on low-end mobile devices, promoted in partnership with a local Telco and Education Ministry, can deliver real impact in other African countries. 

We continue to seek partners to support the running of the platform for our current students, as well as the alignment and development of open textbooks and practice software to extend our impact in other countries.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                               <a href="about-careers.html"><h4>Join us
                                    <br>in our
                                    <br>mission!</h4> </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
</div>








