---
layout: default
title: Current Projects
section_id: ourprojects
---

<div class='non-parallax' style='background-image: url(images/sliders/passage.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Our work" color="#fff" tagline="Current projects" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
 <div class="row">
              <div class='large-12 columns'>
      {% include section-header.html title="South Africa" %}
      <div class='spacing'></div>
           <div class='two spacing'></div>
    </div>
 </div> 
 A teacher support programme in Gauteng
Through a partnership with the Michael and Susan Dell Foundation, Siyavula has deployed its practice platform at 40 government high schools in Gauteng, to reach more than 17 000 students. Aimed at increasing maths engagement, the project supports teachers to adopt Siyavula into their teaching, Siyavula’s powerful data provides teachers with valuable performance data that allows them to track learning outcomes at their schools.

[More info…]
Sponsored access to Grade 10 - 12 learners doing Mathematics
In 2019, MTN sponsored free access to all Grade 10 - 12 learners in South Africa doing Mathematics. This enables learners to practise the skills they are learning in class, working at their own pace, anywhere, anytime. Siyavula Practice Questions are marked immediately, and come with fully-worked solutions, so learners can see where they are going wrong. Because the platform is designed to be used even on a feature phone and is zero-rated by the major mobile operators in South Africa, accessibility is made much easier.  

[More info…]
Sponsored access to Grade 8 - 9 Mathematics learners, and Grade 10 - 12 Physical Sciences learners
A partnership with Unicef in 2021 has enabled us to open Siyavula Practice further, to all Grade 8 - 9 learners doing Mathematics, and Grade 10 - 12 Physical Sciences learners. Unicef’s support has also meant that Siyavula has been able to embed its practice questions into the Grade 10 - 12 online textbooks. While learners have always had free access to Siyavula’s textbooks, they will now be able to immediately practise what they are reading and learning. Answers and full solutions will be given immediately, providing learners with a truly integrated learning experience. 

[More info…]


 <div class="row">
              <div class='large-12 columns'>
      {% include section-header.html title="Rwanda" %}
      <div class='spacing'></div>
           <div class='two spacing'></div>
    </div>
 </div> 
Current projects (Rwanda)
Launch of Siyavula into Rwanda
In September 2020, Siyavula launched its practice service in Rwanda, opening up the platform to all S1 - S4 students doing Mathematics, Physics & Chemistry. Supported by the Mastercard Foundation and working with the Rwanda Basic Education Board (REB), we were able to align Siyavula Practice to the Rwandan curriculum. We also worked with nine pilot schools, training teachers to incorporate Siyavula Practice into their teaching. An integration with Moodle means that Siyavula Practice can now be served on the REB e-learning platform. 

[More info …]

</div>


