---
layout: default
title: Past projects
section_id: ourprojects
 
---


<div class='non-parallax' style='background-image: url(images/sliders/will-and-nats.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our work" tagline="Partnered work and collaborations" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class="full">
  <div class="row">
    <div class="large-12 columns">
    {% include section-header.html title="Sponsoring Siyavula Practice" %}
      <div class="spacing"></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-7 large-7 columns'>
     <h3>Vodacom sponsored schools</h3>
     <p>
       In conjunction with the Vodacom Mobile Education Programme, we provided Gr 10-12 Mathematics and Physical Sciences learners in nearly 80 government high schools throughout South Africa access to Siyavula Practice. 
       Given the distribution of the schools across rural South Africa, our team conducted group training workshops for the teachers at various teacher centres. This was followed up with continuous support and engagement throughout the year. We visited as many schools as we could get to, motivating and interacting with both teachers and learners. 
      </p>
      <p>
        In order to address the issue of data and airtime costs associated with online programs, our websites were zero-rated by Vodacom making it free of charge when accessed from a device with a Vodacom SIM card. 
      </p>
      <p>
      The Vodacom foundation has renewed the Siyavula Practice project through to September of 2016. Siyavula will continue to support the schools that have been active in 2015. </p>
      <h3>Corporate sponsorship of Siyavula Practice</h3>
      <p>We are continually investigating and looking for further partnerships to make Siyavula Practice more widely accessible and available to every learner in South Africa.</p>  
      <a class='button small' href='contact.html'>Contact us</a>
    </div>
    <div class='medium-5 large-5 columns middle'>
      <div class='fadein mod modIconText' style="background: #0088b4;" data-delay='{{ 300 | times:forloop.index0 }}'>

        <div class='two spacing'></div>
        <img class="fadeinright" style="max-width: 80%" alt="" src="images/work/Sineliso.jpg" />
        <div class='spacing'></div>
        <div class='icon-text-simple-slim'>
            <p style='color: #ffffff; text-align: left; margin-left: 20px; margin-right: 20px;'>Sineliso Sithole is a grade 10 learner from Dumabezwe Secondary, outside of Ixopo, KwaZulu-Natal. Mobile network coverage can be poor in the hilly area where he lives. To make sure his students did not run into network problems, Sineliso’s teacher drove him and a few of his classmates to the top of a nearby hill so they could successfully sign up for Siyavula Practice.</p>
            <p style='color: #ffffff; text-align: left; margin-left: 20px; margin-right: 20px;'>In under six months, Sineliso went on to practise over 15 000 Mathematics and Science exercises.</p>
            <p style='color: #ffffff; text-align: left; margin-left: 20px; margin-right: 20px;'>He tells us he loves Siyavula Practice because his “marks have improved rapidly” and that receiving acknowledgement from Siyavula makes him feel “excited and proud of himself”.</p>
        </div>
        <div class='spacing'></div>
      </div>
    </div>  
  </div>
</div>
  <div class='spacing' id="VENTURES"></div>
</div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Ventures" %}
      <div class="spacing"></div>
    </div>
  </div>
    <div class='row'>
    <div class='medium-4 columns'>
      <img class="fadeinleft" alt="" src="images/work/bft_logo.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-8 columns'>
     <h3>Brighter Futures Tuition</h3>
     <p>
      In partnership with the Foundation for Professional Development, we set up a low-cost tutoring franchise in 2014, Brighter Futures Tuition. The model uses our adaptive practice service to
      improve the quality of tutoring available in townships. This initiative also helps create job opportunities as the learners work in small groups facilitated by a tutor. 
      The tutors have excellent maths credentials and have received intensive training in using Siyavula Practice and the insights gained from the dashboard to further guide, support and motivate their learners. 
      </p>
            <div>
      {% include youtubePlayer.html id="VhXj-lZYH9w" %}
      </div>
      <div class='spacing'></div>
      <a class='button small' href='http://www.brighterfuturestuition.org/' target="_blank">Visit website</a>
    </div>
  </div>
   <div class='spacing' id="OPEN"></div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Open textbook production" %}
      <div class="spacing"></div>
    </div>
  </div>
 <div class='row'>
    <div class='medium-4 columns'>
      <img class="centered" class="fadeinleft" alt="" src="images/work/basic_education.png" align="middle" />
      <div class='spacing'></div>
    </div>
    <div class='medium-8 columns'>
     <h3>Department of Basic Education</h3>
     <p>
      Siyavula’s relationship with the DBE began in 2011 when we were approached to rework our NCS Grade 10 Mathematics and Science textbooks to align to the new curriculum (CAPS). 
      After an extensive review process with the Department, the books were printed and distributed as supplementary material to all government schools in South Africa at the beginning of 2012. 
      Since then, we have worked closely with departmental experts to produce all of our CAPS-aligned textbooks, from Grade 4 to Grade 12. 
      </p>
      <div class='spacing'></div>
    </div>
  </div>
 <div class='row'>
    <div class='medium-4 columns'>
      <img class="fadeinleft" alt="" src="images/work/opensponsors.png" />
      <div class='spacing'></div>
    </div>
    <div class='medium-8 columns'>
     <h3>Corporate sponsors</h3>
     <p>
      Whilst focusing on open textbook production, Siyavula obtained sponsorship from various corporates and foundations in South Africa which enabled the creation of our Gr 10-12 Mathematics and Science titles. 
      Their logos are on the covers of about 4 million textbooks that were printed and distributed by the government to all public school learners. 
      </p>
      <div class='spacing'></div>
    </div>
  </div>
 <div class='row'>
    <div class='medium-4 columns'>
      <img class="fadeinleft" alt="" src="images/work/sasol_saif.png" />
      <div class='spacing'></div>
    </div>
    <div class='medium-8 columns'>
      <h3>Partnered work</h3>
     <p>
      There is much focus on the later grades in high school where learners are grappling with science and maths concepts. But many of the misconceptions and problems that are evident at this level have their roots in the primary school phase. To attempt to improve the science, technology, engineering and maths subjects in South Africa, we actually need to start at the beginning and secure a strong foundation on which 
      learners can build their future Science and Technology careers.</p>
      <p>This is something that we at Siyavula and the <a href="http://www.sasolinzalofoundation.org.za">Sasol Inzalo Foundation</a> (SaIF) believe strongly in.
      The SaIF is an operating foundation that drives excellence in STEM education at all levels of the education value chain.
      Not only this, but both organisations recognize the power and potential of open educational resources to make a difference to education in South Africa. 
      This set the stage for a strong partnership and the SaIF commissioned Siyavula to produce resources for Natural Sciences and Technology for Grades 4-6 which were printed by the Department of Basic Education for every child in a government school in 2013. 
      Following on from the success of this first phase, Siyavula was then commissioned to produce Natural Sciences workbooks for Gr 7-9, which were also made openly available in print and online. So far, about 6 million workbooks have been printed and distributed in South Africa.
      </p>
      <div class='spacing' id="TRAINING"></div>
    </div>
  </div>
</div>


<div class="full" style="background: #f5f5f5">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Subject advisor training" %}
      <div class="spacing"></div>
    </div>
  </div>
  
 <div class='row'>
 <div class='large-12 columns'>
    <p>
      In partnership with the Sasol Inzalo Foundation (SaIF) and the Department of Basic Education (DBE), Siyavula designed and conducted a series of training workshops for
      intermediate phase and senior phase (Grade 4-9) Natural Sciences and Technology subject advisors across the 9 provinces in South Africa. </p>
     <p>
      The objective of the project was to develop a cohort of effective Mathematics, Science and Technology subject advisors that are capable of providing both mentoring and content-related support to their teachers. 
      Our aim and training approach was for the workshops to be an interactive, enriching learning experience with a strong focus on best practices, knowledge sharing, 
      integrating technology, working within your constraints and challenges and learning how to improvise as a subject advisor and teacher.
      </p>
    <div class="spacing"></div>
    </div>  
     
  <div class='large-12 columns'>
      <img src="images/work/training2.jpg" align="center"/>

    </div>   
  </div>
  <div class='two spacing'></div>
</div>
