---
layout: default
title: The problem in South Africa
section_id: problem
---

<div class='parallax-pin-top' style='background-image: url(images/sliders/books.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="The problem" tagline="The problem to solve in South Africa" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class="full" style="background: #f5f5f5">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Improving performance in Mathematics & Physical Sciences" %}
      <div class="spacing"></div>
   </div>
   </div>
    <div class='row'>
      <div class='medium-6 columns'>
        <table>
          <tr>
            <td colspan="2">Grade 12 learner (full time) in 2021</td>
            <td>733 540</td>
          </tr>
          <tr>
            <td colspan="2">Grade 12 learner (part-time) in 2021</td>
            <td>163 950</td>
          </tr>
        <tr>
          <td colspan="2">Total learners writing Matric in 2021</td>
          <td>897 490</td>
        </tr>
        <tr>
          <td>Wrote Mathematics</td>
          <td>Passed Mathematics</td>
          <td>Passed with +60%</td>
        </tr>
        <tr>
          <td>259 143</td>
          <td>149 177</td>
          <td>34 451</td>
        </tr>
        <tr>
          <td>Wrote Physical Sciences</td>
          <td>Passed Physical Sciences</td>
          <td>Passed with +60%</td>
        </tr>
        <tr>
          <td>196 968</td>
          <td>135 915</td>
          <td>30 398</td>
        </tr>
      </table>
        
                <div class='two spacing'></div>
      </div>
      <div class='medium-6 columns'>
          <div class='fadein mod modIconText''>
            <div class='icon-text-simple-slim'>
              <p>South Africa is in the unenviable position of being at or near the bottom of international assessments that monitor trends in Mathematics and Physical Sciences. In 2021, although 897 000 learners sat the National Senior Certificate (NSC) exams, only 259 000 wrote Mathematics and 197 000 wrote Physical Sciences. And only 13% of learners writing Mathematics (and 15% writing Physical Sciences) passed at the minimum level to be accepted into a STEM-related field at a tertiary institution. To open the doors of opportunity for South Africa’s youth to further education, the digital economy and the new world of work, it is critical that learners take Mathematics and Physical Sciences, and that every effort is made to improve performance in these subjects.   
              </p>
            </div>
          </div>
          <div class="spacing"></div>
      </div>
  </div>
  <div class='spacing' id="BOOKS"></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
        {% include section-header.html title="Connection to the world of work" %}
        <div class='spacing'></div>
        <div class='row'>
          <div class='medium-8 columns'>
            <p>Doing well in Mathematics and Physical Sciences at school provides learners with increased options for further study, particularly in STEM-related fields. However, career guidance is limited for many learners, finding post-school opportunities is not always easy, and the high cost of tertiary study provides another barrier to entry. This means that many learners don’t actually consider Mathematics and Physical Sciences as subjects that will unlock doors for them.
            </p>
          </div>
          <div class='medium-4 columns'>
            <img style=" display: block; margin-left: auto;  margin-right: auto;  width: 30%;" src="images/my-future-rocket.svg" />
          </div>  
    </div>
  </div>

</div>

