---
layout: default
title: Our Products
section_id: products

   

---

<div class='parallax-pin-bottom' style='background-image: url(/images/sliders/cranes.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Our high school products" tagline="Maths and Science education - Grades 8-12" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row slim'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          <div class='slide'>
            <img alt="" src="/images/products/hero-image.png" />
          </div>
          <div class='slide'>
            <img alt="" src="/images/products/practice-on-tablet.jpg" />
          </div>
          <div class='slide'>
            <img alt="" src="/images/products/practice-on-feature-phone.jpg" />
          </div>
          <div class='slide'>
            <img alt="" src="/images/products/EMAS-titles.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>Siyavula Practice</h3>
      <p>
        We combined our adaptive practice technology and our complete set of South African curriculum-aligned open textbooks to create an offering for High School Mathematics, Physics and Chemistry. You can browse our online textbooks for free and sign up to practise what you've learned.
      </p>
      <p><b>THE LEARNER EXPERIENCE:</b> Personalised, mastery-based learning enabled through goal-directed practice at the appropriate level of difficulty, with immediate, detailed feedback and long term progress tracking.</p>
      <p><b>THE TEACHER EXPERIENCE:</b> Enhanced teaching practice with efficient and effective, technology-assisted formative assessment and monitoring of individuals and classes, enabled through accessible data analytics summarising effort, mastery, speed and problem areas.</p>
      <p>Subscriptions to Siyavula Practice are sold directly to schools, online to individuals (such as parents) over credit card and EFT, over premium SMS and cash vouchers. For more information about pricing or to try out the practice service yourself on a trial, visit our product website.</p>
      <div class='spacing'></div>
      <a class='button small first' href='https://www.siyavula.com' target="_blank">Visit siyavula.com</a><a class='button small' href='/work-oer.html#BOOKS'>Download open textbooks</a>
    </div>

  </div>
  <div class='spacing' id="EXP"></div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
   <div class='large-12 columns'>
      {% include section-header.html title="Creating a learning experience" tagline="Enabling deeper learning through adaptive practice for mastery" %}
      <div class='spacing'></div>
      </div>    
  </div>
  <div class='row'>
    <div class='medium-5 columns'>
        <img class="fadeinleft" alt="" src="/images/products/cognitive-load.png" />
      <div class='two spacing'></div>
    </div>
    <div class='medium-7 columns'>
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple-slim'>
            
            <h3>Adaptive learning</h3>
            <p>We want learners to practice smarter, and not necessarily harder, as we target their unique needs and focus on their varying strengths and weaknesses. This is where <b>adaptive technology</b> can add huge value. Behind Siyavula Practice is a machine learning engine. This algorithm adapts each practice session to the needs of an individual learner by sequencing and determining the optimal difficulty level to promote the greatest learning gains.  By ensuring learners stay within their zone of optimal cognitive load, their practice is neither too difficult (otherwise learners become frustrated, confused and possibly give up) nor too easy (otherwise learners become bored and are not pushed to improve).</p>
            <p><a class='button small' href='/technology-components.html#ENGINE'>Read more</a></p>
            </div>
          <div class='spacing'></div>
        </div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-5 columns'>
        <img class="fadeinleft" alt="" src="/images/products/anatomy-of-a-question.png" />
      <div class='two spacing'></div>
    </div>
    <div class='medium-7 columns'>
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple-slim'>
            
            <h3>Generative, diverse questions</h3>
            <p>Learners often underestimate the need for continuous revision and practice, spaced at regular intervals, to solidify learning in your long-term memory. In order to achieve this, they need access to a sufficient quantity of diverse exercises. Each exercise on Siyavula Practice is built around one or more central concepts. However, its components, including images, quantities and scenarios, vary with each attempt of the question.  This is no ordinary question bank.</p>
            <p><a class='button small' href='/technology-components.html#ITEMS'>Read more</a></p>
            </div>
          <div class='spacing'></div>
        </div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-5 columns middle'>
        <img class="fadeinleft" alt="" src="/images/products/Learner-dash.png" />
      <div class='two spacing'></div>
    </div>
    <div class='medium-7 columns'>
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple-slim'>
            
            <h3>Instant, relevant feedback</h3>
            <p>Learners get immediate feedback on each question and the learner and teacher dashboards provide key insights into individual and class performance, progress and mastery.</p>
            <h4>For Learners</h4>
            <p>We all know that practising Mathematics and Science is crucial to doing well in both subjects, but it can be difficult for learners to know where to start, what to focus on or whether they’re getting anywhere. In addition to getting instant feedback with a detailed explanatory solution for each question they attempt, timeous feedback on the big picture is important too.</p>
            <p>On Siyavula Practice a Learner’s Dashboard displays data unique to them, giving them the overview required to answer questions like:</p>
            <ul>
              <li>What concepts have I mastered?</li>
              <li>What do I still need to work through?</li>
              <li>What are my problem areas where I should focus my revision?</li>
              <li>How far off am I from achieving my goals?</li>
              <li>What should I work on today?</li>
            </ul>
          </div>
          <div class='two spacing'></div>
        </div>
    </div>
  </div>

  <div class='row'>
    <div class='medium-5 columns middle'>
        <img class="fadeinleft" alt="" src="/images/products/teacher-dash-on-tablet.png" />
      <div class='two spacing'></div>
    </div>
    <div class='medium-7 columns'>
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple-slim'>
            
            <h4>For Teachers</h4>
            <p>The science and art of data analysis and making data-driven decisions is becoming prevalent in our society.  Cultivating these skills as a teacher will make feedback, reporting and teaching practice even more reflective and effective.</p>
            <p>The Teacher’s Dashboard provides key insights into learner and class capabilities.  Teaching is augmented by addressing important learning subtexts:</p>
            <ul>
              <li>How much effort have my learners put in?</li>
              <li>What concepts have they mastered?</li>
              <li>Are my learners working fast enough?</li>
              <li>Which learners are struggling?</li>
              <li>Which exercises and concepts are most problematic?</li>
              <li>What do I need to revise with my class?</li>
              <li>Where should I intervene?</li>
              <li>What can I report back to my learners and their parents?</li>
            </ul>

            </div>
          <div class='two spacing'></div>
        </div>
    </div>
  </div>

  <div class='row'>
    <div class='mod modCallToAction'>
      <div class='medium-12 columns'>
        <p>We never stop expanding on and improving our technology and we've always got big plans.  The great news for anyone (be it individual or school) subscribed to Siyavula Practice on siyavula.com is that you get these new features, updates and fixes automatically and at no extra cost.</p>
      </div>
      <div class="medium-9 columns">
        <p>If you're interested in what we plan to bring to the world in the future, have a look at Our Technology page.</p>
      </div>
      <div class="medium-3 columns">
        <a class='button small' href='/technology-components.html#NEXT'>What's coming up next</a>
      </div>
    </div>
  </div>

</div>

<div class='full parallax'>
    <div class='row'>
     <div class='medium-7 columns middle'>
     <div class='spacing'></div>
      <img class="fadeinleft" alt="" src="/images/products/IP-network.png" />
      <div class='two spacing'></div>
    </div>
    <div class='medium-5 columns'>
      <div class='two spacing'></div>
      <div class='mod modCallToAction'>    
      <p>We also license our adaptive practice technology, in part or in whole.  Interested in adding an element of our software to your product?</p>
      <a class='button' href='/technology-licensing.html'>Find out more</a>
      </div>
    </div>
  </div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Taking action" tagline="How can teachers effectively use Siyavula Practice?"%}  
      <div class="spacing"></div>        
        <p>
        There are many ways in which a teacher can use Siyavula Practice to supplement, augment and improve their own teaching practice, depending on their
        preferences, their school and classroom context and their learners’ needs and capabilities. Here are 6 ways that Siyavula has advocated for teachers to
        implement Siyavula Practice.
       </p>      
        <img class="fadeinright" alt="" src="/images/products/usecases.png" />
        <div class='spacing'></div> 
       </div>
    </div>
    <div class='mod modCallToAction'>
      <div class='row'>
        <div class='medium-9 large-9 columns'>
        <p>Download our document outlining the research-based principles for learning that Siyavula Practice supports and enables as well as detailed descriptions and step-by-step guidelines of the various use cases we advocate for teachers to adopt.</p>
        </div>
        <div class='medium-3 large-3 columns'>
        <a href="/downloads/Taking_Action-UseCases.pdf"><img src="/images/usecases.png"/></a> 
      </div>
     </div>
    </div>
    <div class="two spacing"></div>
</div>


   {% include our-customers.html %}
