---
layout: default
title: Social impact
section_id: socialimpact
 
---


<div class='non-parallax' style='background-image: url(images/sliders/will-and-nats.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Social Impact" tagline="Delivering on our mission" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class="full">
  <div class="row">
    <div class="large-12 columns">
    {% include section-header.html title="Sponsoring Siyavula Practice" %}
      <div class="spacing"></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-7 large-7 columns'>
    The value and impact of building skills and knowledge in Mathematics and Physical Sciences extend far beyond the classroom. They are subjects that encourage critical and analytical thinking, as well as creativity and exploration. They help develop problem-solving skills, and teach learners to work collaboratively. 

These skills are needed desperately in the world of tomorrow, where innovation, growth and change will happen at a faster and faster rate. Our mission is to provide all students with the tools and resources they will need to excel in Mathematics, Physics & Chemistry at school, and in addition provide a springboard for future opportunities and study. Our aim is to reduce the inequality in our education system in three ways: 

By giving learners free access to a world-class online practice platform that allows them to master the skills they need to excel in Mathematics, Physics & Chemistry.
By providing access to curriculum-aligned textbooks on our website, which are free for learners to read, download and even print.
By using our large-scale monitoring system to provide unique insights and research to national and provincial education departments, as well as to individual schools and teachers.

Although our roots are in South Africa, our vision is to extend our reach across the African continent, to provide students with free access to world-class education resources in maths and science. 

FOR EACH OF THE HEADINGS BELOW, I THINK WE SHOULD WRITE INFO THAT COVERS (perhaps some of the info could be in infographic format):	
Alignment with SDG 4: ensure inclusive and equitable quality education and promote lifelong learning opportunities for all 
Goals
Outputs - what our intervention does (e.g. providing textbooks)
Outcomes - consequences of our intervention
Impact - how much of the change in behaviour is because of our intervention?
Include a real INDIVIDUAL story - learner or teacher

    </div>
  </div>
</div>
 


<div class="full">
  <div class="row">
    <div class="large-12 columns">
    {% include section-header.html title="Sponsoring Siyavula Practice" %}
      <div class="spacing"></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-7 large-7 columns'>

Skills mastery in maths and science through online practice

Access to Siyavula Practice:
Current: Sponsored access to all Grade 10 - 12 Mathematics learners in South Africa (MTN)
Current: Sponsored access to all Grade 8 - 9 Mathematics learners, and Grade 10 - 12 Physical Sciences learners in South Africa (Unicef)
Current: Sponsored access to all S1 - S4 students for Mathematics, Physics & Chemistry in Rwanda (Mastercard Foundation)

    </div>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
    {% include section-header.html title="Sponsoring Siyavula Practice" %}
      <div class="spacing"></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-7 large-7 columns'>

Free access to high-quality textbooks to enable learning

    </div>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
    {% include section-header.html title="Sponsoring Siyavula Practice" %}
      <div class="spacing"></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-7 large-7 columns'>


Research insights for data-driven decisions
Education can benefit from making data-driven decisions. Our data, which captures every interaction a learner has on our system allows us to visualise and interpret the data we collect for a whole school, province or country. This large-scale monitoring system provides unique insights that can help answer questions like:

How and at what rate are learners progressing through the curriculum?
What is the current level of mastery of learners in a school, district, province or the country?
When and how are learners practising throughout the day? What does this tell us about access to technology in these contexts?
What is the aggregated level of effort for learners in a particular school, district or province?
What are the most common problem areas or misconceptions, and do these vary in different contexts?
Can we identify classes, schools or districts where intervention is most needed, based on current performance?

Siyavula’s data insights can be used for research purposes, large-scale continuous formative assessment, project management, monitoring and evaluation, curriculum development, and educational decision making and policy impact. We are also able to provide useful insights into issues around technology infrastructure and mobile penetration. 
Data and research projects:
Current: A teacher support programme in Gauteng, partnering with the Michael and Susan Dell Foundation
    </div>
  </div>
</div>
