<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
<!--      <div class="logo">
        <a href='/index.html'>
          <img alt="https://www.siyavulafoundation.org" src="/images/SF-logo_stacked-HighRes.svg"/>
        </a>
</div> -->
      <ul>
        <li>©2021 Siyavula Foundation</li>
        <li>
          All rights reserved</li>
      </ul>
      <div class='spacing'></div>
      <div class='spacing'></div>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Quick links</h4>
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact us</h4>
      <ul>
        <li>Phone:
          <a href="tel:0027212044866">+27 21 204 4866</a>
        </li>
        <li>Email:
          <a href="mailto:info@siyavulafoundation.org">info@siyavulafoundation.org</a>
        </li>
        <li>Location:
          <a href="https://goo.gl/maps/vhgBvty4n2D2">Unit 11, Lonsdale Building, 5 Lonsdale Way, Pinelands, Cape Town, 7405</a>
        </li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a href='https://www.facebook.com/siyavula'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        <li>
          <a href='https://twitter.com/Siyavula'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<script src="{{ " /javascripts/jquery_plugins.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ " /javascripts/app.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
