<div class='full parallax' style='background-image: url(/images/sliders/chairs.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our school clients" color="#fff" %}
      <div class='spacing'></div>
      <p>
        Our products are currently in use in 140 private and public schools across South Africa. We focus on building a personal relationship with the schools and teachers that use our products, software and services.  
      </p>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in site.data.clients %}
            <div><img title="{{client.title}}" alt="{{client.title}}" src="{{client.image}}" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
